.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*

vendor/Pods/Pods.xcodeproj/project.pbxproj
vendor/Pods/build*
vendor/Pods/.build
vendor/Pods/Pods-*
vendor/Pods/Pods-Acknowledgements.markdown
vendor/Pods/Pods-Acknowledgements.markdown
vendor/Pods/Pods-Acknowledgements.markdown
vendor/Pods/Pods-Acknowledgements.plist
vendor/Pods/Pods-prefix.pch
vendor/Pods/Pods.bridgesupport
vendor/Pods/Pods.xcconfig
vendor/Pods/PodsDummy_Pods.m
vendor/Pods/Headers
vendor/Pods/BuildHeaders
